@layout('layouts/app')

@section('content')
    @if(auth.isAuthenticated)
   <h1>Welocme {{auth.user.name}}</h1>
   <form action="/logout" method="POST">
    <button type="submit">logout</button>
  </form>
  @else
    <a href="/login">login</a>
  @endif
@endsection
